.question-div {
    background-color: rgb(178, 228, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons {
  font-family: 'Material Icons';
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
   position:absolute;
   bottom:0;
   z-index: -1;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:white !important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
}

label {
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
    
.question-text {
    font-size: 20px !important
}

.answer-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 75%;
}

.carousel {
    height: 85vh;
}

.results-chart {
    max-width: 75%;
    max-height: 75%;
}

#results-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

#winner-image {
    height: 250px;
    width: 250px;
    -webkit-animation: rotate-in-center 1.5s;
}

.runnerup-image {
    height: 175px;
    width: 175px;
    
}

#winner-text {
    font-weight: bold;
    -webkit-animation: slide-in-right 1.5s;
}



/* #first-runnerup-image {
    height: 200px;
    width: 200px;
}

#second-runnerup-image {
    height: 175px;
    width: 175px;
}

#third-runnerup-image {
    height: 150px;
    width: 150px;
} */

#outer-loading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#inner-loading-wrapper {
    align-self: center;
}

#runnerup-list {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.runnerup{
     display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
